[submodule "qurry/util/gajima"]
	path = qurry/util/gajima
	url = git@github.com:harui2019/gajima.git
[submodule "qurry/case/qurecipe"]
	path = qurry/case/qurecipe
	url = git@github.com:harui2019/qurecipe.git
