[submodule "qurry/util/gajima"]
	path = qurry/tools/gajima
	url = git@github.com:harui2019/gajima.git
[submodule "qurry/hoshi"]
	path = qurry/hoshi
	url = git@github.com:harui2019/hoshi.git
[submodule "qurry/mori"]
	path = qurry/mori
	url = git@github.com:harui2019/mori_inner.git
