[submodule "qurry/util/gajima"]
	path = qurry/tools/gajima
	url = git@github.com:harui2019/gajima.git
[submodule "qurry/case/qurecipe"]
	path = qurry/qurecipe
	url = git@github.com:harui2019/qurecipe.git
[submodule "qurry/mori"]
	path = qurry/mori
	url = git@github.com:harui2019/mori.git
[submodule "qurry/hoshi"]
	path = qurry/hoshi
	url = https://github.com/harui2019/hoshi.git
